*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
body{
    background-color: black;
    color: rgb(246, 245, 245);
    overflow: hidden;
    scroll-behavior: smooth;
}

.main{
    display: flex;
    height: 100vh;
}

.sidebar{
    background-color: black;
    width: 25rem;
    border-radius: 1rem;
}

a{
    text-decoration: none;
    color: white;
}

.sidebar .navbar{
    margin-top: 1.25rem;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    background-color: #121212;
    height: 6.25rem;
    width: 23.125rem;
    border-radius: 1rem;
}

.sidebar .nav-option{
    font-size: 1.375rem;
}

.sidebar .nav-option i{
    font-size: 1.56rem;
    margin-right: 0.625rem;
}

.library{
    margin-top: 0.625rem;
    background-color: #121212;
    height: 37.5rem;
    width: 24.375rem;
    border-radius: 1rem;
}

#library_icon{
    height: 1.56rem;
    width: 1.56rem;
    margin-top: 0.9375rem;
    padding-left: 1.25rem;
    margin-right: 0.625rem;
}

#library_title{
    color: gray;
    font-size: 1.375rem;
}

.library i{
    font-size: 1.56rem;
    margin-right: 0.625rem;
}

.library .lib-box-1{
    background-color: #2b2a2a;
    margin-top: 1.875rem;
    width: 21.875rem;
    height: 8.75rem;
    padding-top: 0.625rem;
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 0.625rem;
    padding-left: 1.25rem;
    border-radius: 1rem;
}

.library button{
    font-weight: 600;
    color: black;
    background-color: white;
    font-size: 1.1rem;
    padding: 0.625rem 1.25rem;
    border-radius: 2rem;
}

.library .lib-box-2{
    background-color: #2b2a2a;
    margin-top: 1.2rem;
    width: 21.8rem;
    height: 12.5rem;
    padding-top: 0.7rem;
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 0.7rem;
    padding-left: 1.2rem;
    border-radius: 1rem;
}

.main-content{
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 1.25rem;
    flex: 1;
    overflow: auto;
}

.main-content .navbar{
    display: flex;
    background-color: #121212;
    position: sticky;
    padding: 0rem 1rem 0.625rem 1rem;
    top: 0;
    justify-content: space-between;
    z-index: 100;
}

#premium_button{
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.7rem 1.2rem;
    background-color: white;
    border-radius: 2rem;
}

#install_button{
    color: rgb(249, 246, 246);
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.7rem 1.2rem;
    background-color: rgb(8, 8, 8);
    border-radius: 2rem;
}

.main-content .navbar #circle{
    margin-top: 0.625rem;
    height: 1.56rem;
    width: 1.56rem;
    padding: 0.3125rem;
    background-color: rgb(43, 42, 42);
    border-radius: 50%;
}

i{
    font-size: 1.375rem;
}

.cards h2{
    padding: 0.7rem 0rem 0rem 2rem;
}

.cards .cards-container{
    display: flex;
    flex-wrap: wrap;
    
}

.cards .cards-container .card{
    background-color: #2b2a2a;
    border-radius: 0.7rem;
    margin-top: 0.8rem;
    margin-left: 2rem;
    height: 23rem;
    width: 17.5rem;
    transition: all 0.5s ease-out;
}

.card:hover{
    transform: scale(1.05);
}
.cards .cards-container .card img{
    height: 15rem;
    border-radius: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
}

.card-title{
    margin-left: 1.2rem;
}

.card-desc{
    margin-top: 0.5rem;
    margin-left: 1.2rem;
    color: gray;
}

.footer{
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    height: 10%;
    width: 90%;
    border-top: 2px solid rgb(104, 101, 101);
}

.music-player{
    background-color: black;
    display: flex;
    position: fixed;
    bottom: 0;
    height: 3.75rem;
    width: 100%;
    justify-content: space-between;
}

.music-player .album{
    margin-left: 40px;
    display: flex;
}

.album{
    width: 25%;
}

.album-details{
    display: flex;
    padding: 0.3rem 0rem 0rem 1rem;
    flex-direction: column;
    gap: 0.5rem;
}

.album img{
    height: 2rem;
    width: 2rem;
}

.player{
    width: 50%;
    margin-left: 15rem;
}
.player-icon{
    padding-top: 0.3rem;
    margin-left: 10rem;
}
.player-icon img{
    height: 0.9rem;
    width: 0.9rem;
    margin-right: 2rem;
    opacity: 0.7;
}
.player-icon img:hover{
    opacity: 1;
}

.playback-bar{
    display: flex;
}

.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 10rem;
    height: 0.25rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 0.7rem;
    width: 0.7rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -0.18rem;
}

.controls{
    display: flex;
    width: 25%;
    margin-top: 1.5rem;
}

.controls img{
    height:2.2rem;
    width: 2rem;
}


@media(max-width:1000px){
    .hide{
        display: none;
    }
}